#signin_btn {
  margin: 60px auto;
  margin-left: 90px;
  display: block;
  position: relative;
}

#signin_txt {
  margin: 0px;
  padding: 3px 0px 9px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  width: 100%;
  text-align: center;
  font-weight: normal;
  background: #76ABDB;
  font-size: 22px;
}

#userbox {
  position: absolute;
  width: 480px;
  height: 200px;
  background: white;
  top: 50%;
  margin-top: -174px;
  left: 50%;
  margin-left: -240px;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.45);
}

body {
  font-family: "Open Sans",sans-serif;
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 500px;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #fff;
}

#profileHead {
  position: absolute;
  width: auto;
  height: auto;
  background: white;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -300px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.45);
  padding: 30px;
}

#profileImg {
  float: left;
}

#profileImg img {
  padding: 2px;
  border: 6px solid #F4F4F4;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.45);
}

#profileBasic {
  float: left;
  margin-left: 20px;
}

#button {
  background-color: #287bbc;
  background-image: -moz-linear-gradient(center top , #287bbc 0%, #23639a 100%);
  border-color: #1b5480;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: none;
  font-size: 13px;
  font-weight: bold;
  height: 31px;
  line-height: 29px;
  margin: 0;
  margin-top: 80px;
  overflow: visible;
  padding: 0 13px;
  text-decoration: none !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  margin-right: 75px;
}

#button:hover {
  background-color: #2672ae;
  background-image: -moz-linear-gradient(center top , #2672ae 0%, #1e4f7e 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

#button:active {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}

#conn {
  color: #999;
  font-size: 11px;
  line-height: 23px;
  text-align: right;
  vertical-align: bottom;
}

#logoutBtn {
  width: 50px;
  float: right;
  cursor: pointer;
  background: #53a3d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#53a3d9));
  background: -webkit-linear-gradient(top, #3e779d, #53a3d9);
  background: -moz-linear-gradient(top, #3e779d, #53a3d9);
  background: -ms-linear-gradient(top, #3e779d, #53a3d9);
  background: -o-linear-gradient(top, #3e779d, #53a3d9);
  padding: 7.5px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0px 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
}

#logoutBtn:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}

#logoutBtn:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

#recommendations {
  position: absolute;
  width: auto;
  height: auto;
  background: white;
  top: 50%;
  margin-top: 20px;
  left: 50%;
  margin-left: -300px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.45);
  padding: 30px;
}

#jobImg {
  float: left;
}

#jobImg img {
  padding: 2px;
  border: 3px solid #F4F4F4;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.45);
}

#jobData {
  float: left;
  margin-left: 20px;
}

#job {
  margin-top: 30px;
}
